html {
  position: relative;
  min-height: 100%;
}
body {
	background-color:#f8e8c8;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    /* Margin bottom by footer height */
    margin-bottom: 65px;
}
@media (min-width: 992px) {
    body {
        margin-bottom: 0px;
    }
}
@media (max-width: 350px) {
    .iphone45-visible {
        display: inline;
    }
    .iphone45-hidden {
        display: none;
    }
}
@media (min-width: 350px) {
    .iphone45-visible {
        display: none;
    }
    .iphone45-hidden {
        display: inline;
    }
}
@media (max-width: 450px) {
    .order-text-visible {
        display: none;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
}
@font-face {
    font-family: Segoe_font;
    src: url(segoe-script-regular.ttf);
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.thumbnail {
  background-color: #983300;
  color: transparent !important;
}
.caption h3 {
  color: #fff
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border: solid 1px green;
  box-shadow: 0 0 10px green;
}
header {
    color: #990b00;
    background: url('bg.png') repeat-x top;
}
.mobile-header {
    background: url('bg_mobile.png') repeat-x top;
}
.logo {
    background: url("logo.png") no-repeat bottom center;
    height: 230px;
}
.logo_mobile {
    background: url("logo_mobile.png") no-repeat bottom center;
    height: 120px;
}
.delivery {
    background: url("deliver_bg.png") no-repeat top center;
    height: 55px;
}

.donkey {
    background: url("donkey.png") no-repeat bottom right;
    height: 48px;
}
.donkey-mobile {
    background: url("donkey_mobile.png") no-repeat bottom right;
    height: 28px;
}
.phones {
    border-top: double 4px #990b00;
    border-bottom: double 4px #990b00;
    margin-top: 35px;
}
.phones-mobile {
    border-top: double 4px #990b00;
    border-bottom: double 4px #990b00;
    margin-top: 13px;
}
.phones h3 {
    margin-top: 14px;
    margin-bottom: 14px;
}
.scedule {
    background: url("scedule_icon.png") no-repeat bottom right;
    height: 46px;
}
.scedule-mobile {
    background: url("scedule_icon_mobile.png") no-repeat bottom right;
    height: 26px;
}
.topper {
    background: url("topper_bg.jpg") no-repeat bottom center;
    height: auto;
    margin: 0 15px;
}
.mobile-topper {
    margin: 0 15px;
}
.sub_header {
    background: url("sub_header_bg.jpg") no-repeat top center;
    height: 328px;
}
.content {
    background-color: #f8e8c8;
    margin-right: 0px;
    margin-left: 0px;
}
.brand_title {
    margin: 0;
    color: #ffffff;
    padding-top: 60px;
    text-shadow: 0px 4px 2px rgba(70, 70, 70, 1);
}
.brand_sub_title {
    color: #ff0000;
    text-shadow: 0px 4px 2px rgba(70, 70, 70, 1);
}
.main-container {
    color: #ffffff;
}
.garnish {
    background: url("garnish.png") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-top: none;
    border-left: solid 12px #973200;
    padding: 0;
}
.burrito {
    background: url("burrito.jpg") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-right: solid 12px #973200;
    padding: 0;
}
.menu-title {
    background: url("title_bg.png") repeat;
    margin: 0;
    padding: 0;
}
.menu-h3 {
    margin: 0;
    padding: 20px 0;
}
.soups {
    background: url("soups.png") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-right: solid 12px #973200;
    border-top: none;
    padding: 0;
}
.tacos {
    background: url("tacos.png") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-left: solid 12px #973200;
    padding: 0;
}
.drinks {
    background: url("drinks.png") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-top: none;
    border-left: solid 12px #973200;
    padding: 0;
}
.firm {
    background: url("firm.png") no-repeat center;
    height: 217px;
    border: solid 24px #973200;
    border-right: solid 12px #973200;
    border-top: none;
    padding: 0;
}
.order {
    background:#939c07 url("order_bg.png") no-repeat bottom right;
    height: auto;
}
.order-title {
    margin: 0;
    text-shadow: 0 3px 0 #444;
    padding: 30px 0;
}
.order-sub-title {
    border-bottom: dashed 1px #ffffff;
    border-top: dashed 1px #ffffff;
    padding: 10px 0;
}
.total-order {
    padding: 10px 0;
}
/*.order .row {
    margin: 0;
}*/
.order-button {
    padding: 10px 0;
}
.main {
    background: url("bg.png") repeat-x bottom;
}
.admin {
    margin: 0;
}
footer {
    background-color: #993300;
    color: #fff;
}
.mobile-order {
    background-color:#993300;
    color: #ffffff;
    /*margin-top: 15px;*/
}
.mobile-order-icon {
    background: url("order_icon.png") no-repeat right 0px;
    height: 36px;
    width: 40px;
    display: block;
    margin-top: 5px;
    float: left;
}