<div class="row">
    <div class="col-md-8 hidden-xs col-sm-12 menu-content">
        <div class="col-xs-12 main-container">
            <div class="col-sm-6 text-center burrito">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>БУРРИТО</strong></h3>
                    {{#link-to 'menu'}}Переход{{/link-to}}
                </div>
            </div>
            <div class="col-sm-6 text-center tacos">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>ТАКОС</strong></h3>
                </div>
            </div>
            <div class="col-sm-6 text-center soups">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>СУПЫ</strong></h3>
                </div>
            </div>
            <div class="col-sm-6 text-center garnish">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>ГАРНИР</strong></h3>
                </div>
            </div>
            <div class="col-sm-6 text-center firm">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>ФИРМЕННЫЕ БЛЮДА</strong></h3>
                </div>
            </div>
            <div class="col-sm-6 text-center drinks">
                <div class="menu-title">
                    <h3 class="menu-h3"><strong>НАПИТКИ</strong></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs col-xs-12 menu-content">
        <div class="col-xs-12 main-container">
            <div class="col-xs-6 text-center burrito">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>БУРРИТО</strong></h5>
                </div>
            </div>
            <div class="col-xs-6 text-center tacos">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>ТАКОС</strong></h5>
                </div>
            </div>
            <div class="col-xs-6 text-center soups">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>СУПЫ</strong></h5>
                </div>
            </div>
            <div class="col-xs-6 text-center garnish">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>ГАРНИР</strong></h5>
                </div>
            </div>
            <div class="col-xs-6 text-center firm">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>ФИРМЕННЫЕ БЛЮДА</strong></h5>
                </div>
            </div>
            <div class="col-xs-6 text-center drinks">
                <div class="menu-title">
                    <h5 class="menu-h3"><strong>НАПИТКИ</strong></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="order">
            <h2 class="order-title text-center"><strong>ВАШ ЗАКАЗ</strong></h2>
            <div class="row">
                <div class="col-md-3 col-md-offset-6">КОЛ-ВО</div>
                <div class="col-md-3">РУБ</div>
            </div>
            <div class="row">
                <div class="col-md-12 order-sub-title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Чипсы с Гуакамоле</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>1</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>30000</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Севиче из лосося</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>1</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>45000</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Севиче из морепродуктов</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>1</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>55000</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Буррито</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>1</h5>
                        </div>
                        <div class="col-md-3">
                            <h5>80000</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 total-order">
                    <div class="col-md-9">ИТОГО</div>
                    <div class="col-md-3">210000</div>
                    <div class="col-md-12 order-button text-center">
                        <a class="btn btn-success btn-lg">ЗАКАЗАТЬ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
