<header class="hidden-xs hidden-sm">
    <div class="container">
        <div class="topper">
            <div class="row">
                <div class="col-xs-4 phones">
                    <div class="col-xs-3">
                        <div class="donkey"></div>
                    </div>
                    <div class="col-xs-9">
                        <h3><strong>ДОСТАВКА ЕДЫ</strong></h3>
                    </div>
                    <div class="col-xs-12 text-center">
                        <h4>Бесплатно от 120 000 руб</h4>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="logo"></div>
                </div>
                <div class="col-xs-4 phones">
                    <div class="col-xs-3">
                        <div class="scedule"></div>
                    </div>
                    <div class="col-xs-9 ">
                        <h3><strong>ЧАСЫ РАБОТЫ</strong></h3>
                    </div>
                    <div class="col-xs-12 text-center">
                        <h4>10:00 - 22:00</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="visible-xs visible-sm mobile-header">
    <div class="container">
        <div class="row mobile-topper">
            <div class="col-sm-4 phones-mobile hidden-xs">
                <div class="col-sm-3 hidden-xs">
                    <div class="donkey-mobile"></div>
                </div>
                <div class="col-xs-12 col-sm-9 text-center">
                    <h4><strong>ДОСТАВКА</strong></h4>
                </div>
                <div class="col-xs-12 text-center">
                    <h5>от 120 000 руб</h5>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="logo_mobile"></div>
            </div>
            <div class="col-sm-4 col-xs-6 phones-mobile">
                <div class="col-sm-3 hidden-xs">
                    <div class="scedule-mobile"></div>
                </div>
                <div class="col-xs-12 col-sm-9 text-center">
                    <h4><strong>РАБОТАЕМ</strong></h4>
                </div>
                <div class="col-xs-12 text-center">
                    <h5>с 10:00 до 22:00</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="container">
        {{outlet}}
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">{{#link-to 'admin'}}Administration{{/link-to}}</h3>
                <div class="notifications-container">
                    {{#each notifications as |notification|}}
                        {{notification-message notification=notification}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>©2015 ООО «Гринго» — Мексиканская еда с доставкой на дом!<br/>
                Свидетельство о регистрации №66666666 от 5.03.2015г.<br/>
                Лицензия на розничную торговлю №88888/99999 от 27.03.2015г.<br/>
                Дата включения в торговый реестр – 29.08.2015г.</p>
            </div>
        </div>
    </div>
</footer>
<footer class="sticky-footer visible-sm visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right mobile-order">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4><span class="iphone45-visible">Заказ:</span><span class="iphone45-hidden">Ваш заказ:</span> <span>2 120 000 р.</span> <button class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>