<div class="form-group">
	{{input type="email" class="form-control" value=loginEmail placeholder="Логин"}}
</div>
<div class="form-group">
	{{input type="password" class="form-control" value=loginPassword placeholder="Пароль"}}
</div>
<div>
	<div class="col-sm-4">
		<a href="#" class="btn btn-link">Регистрация</a>
	</div>
	<div class="col-sm-4">
		<a href="#" class="btn btn-link">Забыли пароль?</a>
	</div>
	<div class="col-sm-4 text-right">
		<a href="#" class="btn btn-sm btn-success" {{action "signin"}}>Войти</a>
	</div>
</div>
{{yield}}